
.carteCommande{
    
    width: 900px;
    height: 200px;
    display: flex;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.InfoProduit{
  flex: 1.5;
    margin-top: 18px;
}
p > a{
  color: black;
  }
.InfoClient{
  flex: 2;
    color: black;
}
.lienModifier{
  width: 80px;
  text-decoration: none;
  color: white;
  border-radius: 0 10px 10px 0;
  background-color: #333;
  align-content: center;
  text-align: center;
}

/* .card{
        position: relative;
        width: 350px;
        height: 180px;
        background: #333;
        transition: 0.5s;
    }
    
    .card:hover{
        height:450px;
    }
    .card .lines{
        position: absolute;
        inset:0;
        background: #000;
        overflow: hidden;
        
    }
    .card .lines::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 600px;
        height: 120px;
        background: linear-gradient(transparent,  #25bee1 , #25bee1 ,  #25bee1 , transparent);
        animation: animate 4s linear infinite;
        animation-play-state: paused;
    }
    .card:hover .lines::before{
        animation-play-state: running;
    }
    @keyframes animate{
        0%{
            transform: translate(-50%, -50%) rotate(0deg);
        }
        100%{
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
    .card .lines::after{
        content: '';
        position: absolute;
        inset: 3px;
        background: #292929;
    }
.card .imgBx{
    position: absolute;
    top:-60px;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translateX(-50%);
    background: #070707;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card:hover .imgBx{
    top: 25px;
    width: 250px;
    height: 250px;
}
.card .imgBx::before{
    content:'';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 500px;
    height: 150px;
    background: linear-gradient(transparent, #cb40e3 , #cb40e3 ,  #cb40e3 , transparent);
    animation: animate2 6s linear infinite;
    animation-play-state: paused;
}
.card:hover .imgBx::before{
    animation-play-state: running;
}
@keyframes animate2{
    0%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
}
.card .imgBx::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}
.card .imgBx img{
    position: absolute;
    width: 75px;
    z-index: 100;
    opacity: 0.7;
    transition: 0.5s;
}
.card:hover .imgBx img{
    opacity: 1;
}
.card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.card .content .details{
    width: 100%;
    transform: translateY( 145px);
    text-align: center;
    padding: 30px 20px;
    transition: 0.5s;
}

.card .content .details h2{
    font-size: 1.3em;
    font-weight: 500;
    color: #31ecf9;
    line-height: 1.2em;
}
.card:hover .content .details{
    transform: translateY( 0px);
} */